﻿
:root {
    --bg-color: #FFFFFF;
    --toolbar-color: #628EFF;
    --toolbar-button-border: #3D444C;
    --toolbar-button-border-color: #3d444C;
    --toolbar-button-white-shaow-color: #4A505B;
    --toolbar-button-dark-shaow-color: #282A30;
    --box-color: #ECECEC;
    --box-deep-color: #292C33;
    --box-dark-shadow-color: rgba(0,0,0,0.25);
    --box-white-shadow-color: #454A54;
    --box-border-color: #FFFFFF;
    --box-deep1-border-color: #1E2026;
    --box-deep2-border-color: #1E2026;
    --box-out-border-color: #444D59;
    --box-shadow-border-color: #31353C;
    --text-color: white;
    --box-text-color: rgba(82,82,82,0.85);
    --border-color: #FFFFFF;
    --border-width: 2px;
    --box-button-color: #A5A5A5;
    --box-button-border-color: #363A42;
    --box-button-white-shadow-color: #40454f;
    --box-button-dark-shadow-color: #30333a;
    --deviceWindow-width: 380px;
    --deviceWindow-total-width: 410px;
}

html.darkmode:root {
    --bg-color: #24282D;
    --toolbar-color: #373D44;
    --box-color: #363A42;
    --box-deep-color: #292C33;
    --box-dark-shadow-color: #0C0D0F;
    --box-white-shadow-color: #454A54;
    --box-border-color: #414954;
    --box-deep1-border-color: #1E2026;
    --box-deep2-border-color: #1E2026;
    --box-out-border-color: #444D59;
    --box-shadow-border-color: #31353C;
    --text-color: white;
    --border-color: #414954;
    --border-width: 2px;
    --box-button-color: #1C1E23;
    --box-button-border-color: #363A42;
    --box-button-white-shadow-color: #40454f;
    --box-button-dark-shadow-color: #30333a;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: GmarketSansMedium;
    background-color: #FFFFFF;
}

    /*스크롤 바 영역 전체*/
    body::-webkit-scrollbar {
        width: 15px;
    }

    /*화살표를 제외한 몸통 부분*/
    body::-webkit-scrollbar-track {
        border: 1px solid rgba(0, 0, 0, 0.54);
        border-radius: 10px;
        padding: 2px 0;
        background-color: #FFFFFF;
    }

    /*몸통 부분에서 실제 움직이는 부분*/
    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(118, 155, 226, 0.56);
    }

/** Top Bar**/
#toolbar {
    background: var(--toolbar-color);
    padding: 10px;
    padding-left: 22px;
    font-family: GmarketSansMedium;
    font-weight: bold;
    text-align-last: center;
    padding-bottom: 0px;
}

    #toolbar .button {
        background-color: var(--toolbar-color);
        color: var(--text-color);
        border: 0;
        width: auto;
        height: auto;
        font-size: 17px;
        line-height: 40px;
        padding-left: 22px;
        font-family: GmarketSansMedium;
    }

        #toolbar .button.select {
            background-color: white;
            color: rgba(98,142,255,0.7);
            border: 0;
            width: auto;
            height: inherit;
            font-size: 17px;
            line-height: 40px;
            padding-left: 22px;
            font-family: GmarketSansMedium;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            min-width: 90px;
        }

    #toolbar .right {
        float: right;
    }


/** Room**/

.nameBar {
    font-family: GmarketSansMedium;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 15px;
}

.roomList {
    background-color: rgba(190, 209, 237, 0.25);
    border: var(--border-width) solid var(--box-border-color);
    border-radius: 20px;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-bottom: 30px;
}

    .roomList .item {
        display: inline-block;
        margin: 2px;
        background-color: #FFFFFF;
        color: var(--text-color);
        border: var(--box-button-border-color);
        border-radius: 22px;
        min-width: 120px;
        min-height: 67px;
        margin-right: 15px;
    }

        .roomList .item label {
            color: var(--text-color);
            background-color: #FFFFFF;
            border: 2px solid #BBBBBB;
            border-radius: 22px;
            margin: 0;
            min-width: 120px;
            color: black
        }

            .roomList .item label.ui-state-active,
            .roomList .item label.ui-state-active:hover {
                color: var(--text-color);
                background-color: rgba(98,142,255,0.56);
                border: none;
            }

        .roomList .item[data-state='1'] label,
        .roomList .item[data-state='3'] label {
            color: black;
            background-color: #f6f6f6;
            border-width: 5px;
        }

            .roomList .item[data-state='1'] label.ui-state-active,
            .roomList .item[data-state='3'] label.ui-state-active:hover {
                color: black;
                background-color: #f6f6f6;
                border-color: #AAA;
                border-width: 5px;
            }

        .roomList .item[data-state='2'] label,
        .roomList .item[data-state='4'] label {
            background-color: #c7ebf5;
            border-color: #c7ebf5;
            color: #073b45;
            border-width: 5px;
        }

            .roomList .item[data-state='2'] label.ui-state-active,
            .roomList .item[data-state='2'] label.ui-state-active:hover,
            .roomList .item[data-state='4'] label.ui-state-active,
            .roomList .item[data-state='4'] label.ui-state-active:hover {
                background-color: #c7ebf5;
                border-color: #83d6f7;
                color: #073b45;
                border-width: 5px;
            }

        .roomList .item[data-state='6'] label {
            color: black;
            background-color: #ffcbbd;
            border-color: #ffcbbd;
            border-width: 5px;
        }

            .roomList .item[data-state='6'] label.ui-state-active,
            .roomList .item[data-state='6'] label.ui-state-active:hover {
                color: black;
                background-color: #ffcbbd;
                border-color: #ff8f8f;
                border-width: 5px;
            }

        .roomList .item[data-state='5'] label {
            color: black;
            background-color: #E5E18B;
            border-color: #5E5C39;
            border-width: 3px;
        }

            .roomList .item[data-state='5'] label.ui-state-active,
            .roomList .item[data-state='5'] label.ui-state-active:hover {
                color: black;
                background-color: #FFFBC1;
                border-color: #FFE900;
                border-width: 4px;
            }

    .roomList .button {
        background-color: var(--box-button-color);
    }

#addSession img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/** Content**/

#contentBlock {
    display: none;
    margin-top: 20px;
    background-color: rgba(190, 209, 237, 0.25);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
    /*스크롤 바 영역 전체*/
    #contentBlock::-webkit-scrollbar {
        width: 15px;
    }

    /*화살표를 제외한 몸통 부분*/
    #contentBlock::-webkit-scrollbar-track {
        border: 1px solid rgba(0, 0, 0, 0.54);
        border-radius: 10px;
        padding: 2px 0;
        background-color: #FFFFFF;
    }

    /*몸통 부분에서 실제 움직이는 부분*/
    #contentBlock::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(118, 155, 226, 0.56);
    }

    #contentBlock .contentRow {
        display: block;
        border-bottom: solid var(--box-border-color);
        border-bottom-width: medium;
        position: relative;
        padding: 20px 0;
        margin-left: 3%;
        margin-right: 3%;
    }

        #contentBlock .contentRow > * {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        #contentBlock .contentRow input {
            display: none;
        }

            #contentBlock .contentRow input + label {
                width: 120px;
                background-color: rgba(255, 255, 255, 0.8);
                color: rgba(91, 91, 91, 0.6);
                border: 1px solid #BBBBBB;
                border-radius: 5px;
                margin: 5px;
                color: rgba(91, 91, 91, 0.6);
                font-weight: bolder;
                max-height: 20px;
            }

            #contentBlock .contentRow input:hover + label,
            #contentBlock .contentRow input:checked + label {
                width: 120px;
                background: rgba(98,142,255,0.56);
            }

    /** Common**/
    #contentBlock .wrapper {
        padding: 20px 0;
        height: 100%;
    }

    #contentBlock .rlabel {
        width: 80px;
        height: initial !important;
        color: var(--box-text-color);
    }

    #contentBlock .tlabel {
        width: 80px;
        height: initial !important;
        text-align: center;
        color: var(--box-text-color);
    }

    #contentBlock .button {
        background: rgba(255,255,255,1);
        border: 2px solid #A5A5A5;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 5px;
    }

        #contentBlock .button.refresh {
            background: url(/content/images/icon_refresh.png);
            padding: 0;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            text-align: center;
            line-height: 30px;
            border: 0;
        }

    /**naming contentRow*/
    #contentBlock .naming {
        border-bottom-color: var(--box-deep1-border-color);
    }

    #contentBlock .deviceCount {
    }

.trlabel {
    position: absolute;
    right: 5%;
    top: 3%;
}



/** Naming **/

.naming input[type="text"] {
    width: 500px;
    padding: 10px;
    margin: -10px 0;
    border: 0;
    background-color: var(--box-deep-color);
    border-radius: 8px;
}


/** User **/

#contentBlock .user {
}

    #contentBlock .user .connect {
        width: 50%;
    }

.userlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .userlist li {
        width: 37%;
        min-width: 330px;
        float: left;
        margin: 5px 5px 5px 0;
        padding: 5px 5px;
        border-radius: 5px;
        cursor: ns-resize;
        background-color: rgba(255, 255, 255, 0.75);
    }

        .userlist li * {
            display: inline-block;
            vertical-align: middle;
        }

        .userlist li .namebtn {
            padding: 0;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            text-align: center;
            line-height: 30px;
        }

            .userlist li .namebtn.remove {
                background: url(/Content/Images/icon_remove.png)
            }

            .userlist li .namebtn.rename {
                background: url(/Content/Images/icon_rename.png)
            }

            .userlist li .namebtn.refresh {
                background: url(/Content/Images/icon_refresh.png);
                display: none !important;
            }

        .userlist li .state {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin-left: 10px;
        }

            .userlist li .state.hide {
                display: none;
            }

        .userlist li .controller {
            background: url(/content/images/icon_controller.png);
        }

        .userlist li .live {
            background: url(/content/images/icon_live.png);
        }

        .userlist li .conn {
            background: url(/content/images/icon_connect.png);
        }

        .userlist li .star {
            background: url(/content/images/icon_star.png);
        }

        .userlist li .device {
            padding: 5px 10px;
            background: rgba(190, 209, 237, 0.25);
            margin-left: 15px;
            border-radius: 5px;
        }

        .userlist li .game {
            padding: 5px 10px;
            background: #ffcbbd;
            margin-left: 5px;
            border: 1px solid #e2907a;
            border-radius: 5px;
        }

/** Search **/

#searchUserName {
    width: 100%;
    max-width: initial;
}

#contentBlock .user .search {
    width: 30%;
    float: right;
    margin-right: 30px;
}

    #contentBlock .user .search .list {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 130px;
    }

/**Category**/
.category {
    width: 30%;
    color: var(--box-text-color);
}


/** Game**/
.game {
}

    .game .list {
    }

#contentBlock .game {
}
/** DeviceCount*/
.deviceCount {
}

/** Level **/
.level {
}

    .level .list {
    }

    .level .item {
        width: 60px;
        height: 60px;
        line-height: 50px;
        vertical-align: middle;
    }

#contentBlock .level {
    border-bottom: none;
}

    #contentBlock .level.expansion {
        border-bottom: solid var(--box-border-color);
    }


.detail {
}

    .detail .list {
    }

#contentBlock .detail {
}
/** controll **/

.controll {
    text-align: center;
    margin-top: 20px;
}

    .controll .actionBtn {
        padding: 10px 20px;
        background: rgba(98, 142, 255, 0.86);
        border-radius: 35px;
        font-weight: bold;
        font-size: 20px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        display: none;
        min-width: 120px;
    }

#contentBlock .controll {
    border-bottom: none;
}


#sessionWindow {
    position: absolute;
    right: var(--deviceWindow-total-width);
    left: 0;
    top: 63px;
    bottom: 0;
    background-color: var(--bg-color);
    font-size: 18px
}

#deviceWindow {
    position: absolute;
    width: var(--deviceWindow-width);
    right: 0;
    top: 63px;
    bottom: 0;
    background-color: var(--bg-color);
}

    #deviceWindow .deviceCount {
        background-color: #FFF;
        border: 1px solid #DDD;
        border-radius: 10px;
        box-shadow: 0 0 10px #AAA;
        padding: 10px;
        overflow-y: auto;
    }

    #deviceWindow .deviceTh {
        border-bottom: solid var(--box-border-color);
        border-bottom-width: medium;
        position: relative;
        padding: 10px 0;
        margin-left: 3%;
        margin-right: 3%;
    }

        #deviceWindow .deviceTh * {
            display: inline-block;
        }

    #deviceWindow .devices {
        background: rgba(190, 209, 237, 0.25);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        padding: 10px;
        overflow-y: auto;
        border-right-width: 10px;
        padding-right: 2px;
    }

        /*스크롤 바 영역 전체*/
        #deviceWindow .devices::-webkit-scrollbar {
            width: 15px;
        }

        /*화살표를 제외한 몸통 부분*/
        #deviceWindow .devices::-webkit-scrollbar-track {
            border: 1px solid rgba(0, 0, 0, 0.54);
            border-radius: 10px;
            padding: 2px 0;
            background-color: #FFFFFF;
        }

        /*몸통 부분에서 실제 움직이는 부분*/
        #deviceWindow .devices::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgba(118, 155, 226, 0.56);
        }

    #deviceWindow .case {
    }

    #deviceWindow .device {
        display: inline-block;
        border: 1px solid #DDD;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 10px;
        padding: 10px 15px;
        padding-right: 0;
        margin: 5px;
        position: relative;
        color: #000000;
        width: 79%;
    }

        #deviceWindow .device * {
            display: inline-block;
            vertical-align: middle;
            padding: 2px 5px;
            border-radius: 5px;
            margin: 5px 5px 5px 0;
        }

        #deviceWindow .device icon {
            background: rgba(135, 135, 135, 0.85);
            position: absolute;
            width: 15px;
            left: 0;
            top: 0;
            bottom: 0;
            padding: 0;
            margin: 5px;
        }

        #deviceWindow .device input[type="checkbox"] {
            background: white;
            /* Double-sized Checkboxes */
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
            padding: 10px;
        }

        #deviceWindow .device .name {
            cursor: pointer;
            padding: 7px 5px;
            margin: 0 5px 0 5px;
        }

        #deviceWindow .device .model {
            display: none;
            background: #FFF;
            position: absolute;
            left: 20px;
            top: 33px;
            border: 1px solid #DDD;
        }

        #deviceWindow .device .temp {
            display: none;
        }

        #deviceWindow .device .bat {
            display: none;
        }


        #deviceWindow .device.con {
        }

            #deviceWindow .device.con icon {
                background: rgba(98, 142, 255, 0.85);
            }

            #deviceWindow .device.con.heat icon {
                background: #de685c;
            }

            #deviceWindow .device.con.update icon {
                background: #de685c;
            }

            #deviceWindow .device.con.play icon {
                background: rgba(66, 237, 155, 0.7);
            }

            #deviceWindow .device.con.ready icon {
                background: rgba(74, 10, 155, 0.5);
            }

            #deviceWindow .device.con.alloc icon {
                background: #ebff00;
            }

            #deviceWindow .device.con .name {
                font-weight: bold;
            }

            #deviceWindow .device.con .temp-icon {
                background: no-repeat center url(/content/images/icon_temp.png);
                padding: 0;
                width: 18px;
                height: 40px;
                margin: 0px 5px 0px 5px;
            }
                #deviceWindow .device.con .temp-icon.high {
                    background: no-repeat center url(/content/images/icon_temp_high.png);
                    padding: 0;
                    width: 18px;
                    height: 40px;
                    margin: 0px 5px 0px 5px;
                }

            #deviceWindow .device.con .temp {
                display: inline-block;
                color: #2f9458;
            }

                #deviceWindow .device.con .temp > .test {
                    background: no-repeat center/80% url(/Content/Images/icon_refresh.png);
                }

                #deviceWindow .device.con .temp.high {
                    background-color: #f15e5e;
                    color: white;
                }

                #deviceWindow .device.con .temp.mid {
                    background: #f19b5e;
                    color: #a24300;
                    ;
                }

            #deviceWindow .device.con .bat-icon {
                background: no-repeat center url(/content/images/icon_bat_green.png);
                padding: 0;
                width: 48px;
                height: 24px;
                margin: 0px 5px 0px 5px;
            }
            #deviceWindow .device.con .bat-icon.full {
                background: no-repeat center url(/content/images/icon_bat_full_green.png);
                padding: 0;
                width: 48px;
                height: 24px;
                margin: 0px 5px 0px 5px;
            }
                #deviceWindow .device.con .bat-icon.very-low {
                    background: no-repeat center url(/content/images/icon_bat_red.png);
                    padding: 0;
                    width: 48px;
                    height: 24px;
                    margin: 0px 5px 0px 5px;
                }
                #deviceWindow .device.con .bat-icon.low {
                    background: no-repeat center url(/content/images/icon_bat_orange.png);
                    padding: 0;
                    width: 48px;
                    height: 24px;
                    margin: 0px 5px 0px 5px;
                }
                #deviceWindow .device.con .bat-icon.high {
                    background: no-repeat center url(/content/images/icon_bat_yellow.png);
                    padding: 0;
                    width: 48px;
                    height: 24px;
                    margin: 0px 5px 0px 5px;
                }
            #deviceWindow .device.con .bat {
                position: relative;
                display: inline-block;
                width: 45px;
                text-align: center;
            }

                #deviceWindow .device.con .bat .gage {
                    position: absolute;
                    left: 0;
                    width: 50%;
                    padding: 0;
                    top: -5px;
                    bottom: -5px;
                    /*background: red;*/
                    z-index: 100;
                }

                #deviceWindow .device.con .bat .lb {
                    padding: 0;
                    margin: 0;
                    z-index: 101;
                    position: relative;
                }

                #deviceWindow .device.con .bat.high .gage {
                    /*background: #5cdebb;*/
                }

                #deviceWindow .device.con .bat.high .lb {
                    color: #2f9458;
                }

                #deviceWindow .device.con .bat.mid .gage {
                    /*background: #f19b5e;*/
                }

                #deviceWindow .device.con .bat.mid .lb {
                    color: #a24300;
                }

#updateDevices {
    ;
}

    #updateDevices .head {
        margin-bottom: 1%;
    }

    #updateDevices .deviceCount {
        background-color: #FFF;
        border: 1px solid #DDD;
        border-radius: 10px;
        box-shadow: 0 0 10px #AAA;
        padding: 10px;
        overflow-y: auto;
    }

    #updateDevices .devices {
        background-color: #FFF;
        border: 1px solid #DDD;
        border-radius: 10px;
        box-shadow: 0 0 10px #AAA;
        padding: 10px;
        overflow-y: auto;
    }

    #updateDevices .device {
        border: 1px solid #DDD;
        background-color: #DDD;
        border-radius: 5px;
        padding: 10px 15px;
        padding-right: 0;
        margin: 10px;
        position: relative;
    }

        #updateDevices .device * {
            display: inline-block;
            vertical-align: middle;
            padding: 2px 5px;
            border-radius: 5px;
            margin: 5px 5px 5px 0;
        }

        #updateDevices .device icon {
            background: #777;
            position: absolute;
            width: 10px;
            left: 0;
            top: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
            border-radius: 5px 0 0 5px;
        }

        #updateDevices .device bar {
            background: #777;
            position: absolute;
            width: 2px;
            top: 0;
            bottom: 0;
            padding: 0;
            margin: 5px;
        }

        #updateDevices .device input[type="checkbox"] {
            background: white;
        }

        #updateDevices .device .name {
            cursor: pointer;
            padding: 7px 5px;
            margin: 0 5px 0 0;
        }

        #updateDevices .device .model {
            display: none;
            background: #FFF;
            position: absolute;
            left: 20px;
            top: 33px;
            border: 1px solid #DDD;
        }

        #updateDevices .device .temp {
            display: none;
        }

        #updateDevices .device .bat {
            display: none;
        }


        #updateDevices .device.con {
            background: white;
        }

            #updateDevices .device.con icon {
                background: #5cdebb;
            }

            #updateDevices .device.con.heat icon {
                background: #de685c;
            }

            #updateDevices .device.con.update icon {
                background: #de685c;
            }

            #updateDevices .device.con.ready icon {
                background: #795cde;
            }

            #updateDevices .device.con.alloc icon {
                background: #ebff00;
            }

            #updateDevices .device.con .name {
                font-weight: bold;
            }

            #updateDevices .device.con .temp {
                display: inline-block;
                background: #5cdebb;
                color: #2f9458;
            }

                #updateDevices .device.con .temp.high {
                    background-color: #f15e5e;
                    color: white;
                }

                #updateDevices .device.con .temp.mid {
                    background: #f19b5e;
                    color: #a24300;
                    ;
                }

            #updateDevices .device.con .bat {
                position: relative;
                display: inline-block;
                background-color: #CCC;
                width: 45px;
                text-align: center;
            }

                #updateDevices .device.con .bat .gage {
                    position: absolute;
                    left: 0;
                    width: 50%;
                    padding: 0;
                    top: -5px;
                    bottom: -5px;
                    background: red;
                    z-index: 100;
                }

                #updateDevices .device.con .bat .lb {
                    padding: 0;
                    margin: 0;
                    z-index: 101;
                    position: relative;
                }

                #updateDevices .device.con .bat.high .gage {
                    background: #5cdebb;
                }

                #updateDevices .device.con .bat.high .lb {
                    color: #2f9458;
                }

                #updateDevices .device.con .bat.mid .gage {
                    background: #f19b5e;
                }

                #updateDevices .device.con .bat.mid .lb {
                    color: #a24300;
                }

/* 팝업*/
.search {
    background-color: rgba(0, 0, 0, 0.6);
}

    .search .wrapper {
        background-color: #FFFFFF;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

        .search .wrapper a {
            color: #6C6C6C;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #ffffff;
            border: 1px solid #BBBBBB;
        }

        .search .wrapper  .close {
            color: #6C6C6C;
            border: 2px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 5px;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            margin-top: 30px;
            min-width: 100px;
            min-height: 40px;
            background: rgba(196, 196, 196, 0.56);
            color: white;
            border-radius: 18px;
        }

    .search .ui-button {
        background-color: var(--box-color);
        color: #6C6C6C;
        border: none;
        margin-bottom: 8px;
    }
    .search .title {
        text-align: center;
        font-size: 22px;
    }

    .search .middleTitle {
        margin-bottom: 10px;
        text-align: right;
    }
    .search .result {
        text-align: center;
        overflow: auto;
    }
        .search .result::-webkit-scrollbar {
            width: 15px;
        }

        /*화살표를 제외한 몸통 부분*/
        .search .result::-webkit-scrollbar-track {
            border: 1px solid rgba(0, 0, 0, 0.54);
            border-radius: 10px;
            padding: 2px 0;
            background-color: #FFFFFF;
        }

        /*몸통 부분에서 실제 움직이는 부분*/
        .search .result::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgba(118, 155, 226, 0.56);
        }

    .search .buttom{

    }

    .search .button {
        background: rgba(255,255,255,1);
        border: 2px solid #A5A5A5;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 13px;
    }

        .search .button.refresh {
            background: url(/content/images/icon_refresh.png);
            padding: 0;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            text-align: center;
            line-height: 30px;
            border: 0;
            margin-bottom: 17px;
        }

        .search .button.search {
            background: url(/Content/Images/icon_search.png);
            padding: 0;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            text-align: center;
            line-height: 30px;
            border: 0;
            margin-bottom: 17px;
        }

.popup .search input[type="text"] {
    display: inline-block;
    background-color: var(--box-color);
    color: #6C6C6C;
    padding-top: 11px;
    border: none;
    text-align: right;
    background: #FFFFFF;
    border: 1px solid rgba(138, 138, 138, 0.6);
}



@media screen and (max-width: 900px) {
    #sessionWindow {
        position: inherit;
        right: inherit;
        left: inherit;
        top: inherit;
        bottom: inherit;
        height: inherit
    }

    #deviceWindow {
        position: inherit;
        width: inherit;
        right: inherit;
        left: inherit;
        top: inherit;
        bottom: inherit;
    }

        #deviceWindow > .contentHeight {
            height: inherit !important;
        }
        #deviceWindow .contentHeight .case {
            display: inline-block;
            width: 50%;
        }
}

/**bootombar**/
.bottomBar {
}

#deviceTop > div,
#deviceTop > div > div {
    display: inline;
}

.case input[id="blueCheckbox"] {
    display: none;
}

    .case input[id="blueCheckbox"] + label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #bcbcbc;
        cursor: pointer;
    }



.md-select {
    /*Demo css do not add to your project*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*--*/
    display: block;
    margin: 10px 0 8px 0;
    padding-bottom: 2px;
    /* position: relative;
	*/
    min-width: 180px;
}

    .md-select *, .md-select :after, .md-select :before {
        box-sizing: border-box;
    }

    .md-select [type=button] {
        background: #fff;
        border-color: rgba(0, 0, 0, 0.12);
        border-width: 0 0 1px 0;
        color: rgba(0, 0, 0, 0.73);
        cursor: default;
        display: block;
        line-height: 48px;
        padding: 2px 0 1px 16px;
        position: relative;
        text-align: left;
        text-shadow: none;
        width: 100%;
        z-index: 1;
        outline: none;
        overflow: hidden;
    }

        .md-select [type=button]:focus, .md-select [type=button]:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        .md-select [type=button]:after {
            content: '\25be';
            float: right;
            padding-right: 16px;
        }

    .md-select ul[role=listbox] {
        background-color: white;
        cursor: default;
        list-style: none;
        line-height: 26px;
        overflow: hidden;
        margin: 0;
        max-height: 0;
        position: absolute;
        padding: 0;
        transform: translateY(-50%);
        transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    }

        .md-select ul[role=listbox] li {
            height: 48px;
            margin: 0;
            padding: 10px 16px;
            outline: none;
            overflow: hidden;
        }

            .md-select ul[role=listbox] li:focus, .md-select ul[role=listbox] li:hover, .md-select ul[role=listbox] li.active {
                background: rgba(0, 0, 0, 0.1);
            }

    .md-select.active ul {
        max-height: 200px;
        overflow: auto;
        padding: 8px 0 16px 0px;
        z-index: 2;
        transition: all 0.2s ease;
    }


/*체크박스 https://webdir.tistory.com/433 */
.checks {
    position: relative;
    display: inline-block;
}

    .checks input[type="checkbox"] { /* 실제 체크박스는 화면에서 숨김 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0
    }

        .checks input[type="checkbox"] + label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

            .checks input[type="checkbox"] + label:before { /* 가짜 체크박스 */
                content: ' ';
                display: inline-block;
                width: 18px; /* 체크박스의 너비를 지정 */
                height: 18px; /* 체크박스의 높이를 지정 */
                line-height: 23px; /* 세로정렬을 위해 높이값과 일치 */
                margin: -2px 8px 0 0;
                text-align: center;
                vertical-align: middle;
                background: #fafafa;
                border: 2px solid rgba(0, 26, 255, 0.63);
                border-radius: 7px;
            }

            .checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before {
            }

        .checks input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */
            background: url(/Content/Images/icon_vector.png)
        }

table.dataTable > tbody > tr:nth-child(odd) > td,
table.dataTable > tbody > tr:nth-child(odd) > th {
    background-color: #FFFFFF
}

table.dataTable > tbody > tr:nth-child(odd).shown > td,
table.dataTable > tbody > tr:nth-child(even).shown > th {
    background-color: #ffdddd;
}

table.dataTable > tbody > tr:nth-child(even) > td,
table.dataTable > tbody > tr:nth-child(even) > th {
    background-color: rgba(190, 209, 237, 0.25);
}

table.dataTable > tbody > tr:nth-child(even).shown > td,
table.dataTable > tbody > tr:nth-child(even).shown > th {
    background-color: #ffdddd;
}

.dataTables_scrollBody > table.dataTable > tbody > tr:nth-child(odd) > td,
.dataTables_scrollBody > table.dataTable > tbody > tr:nth-child(odd) > th,
.dataTables_scrollBody > table.dataTable > tbody > tr:nth-child(even) > td,
.dataTables_scrollBody > table.dataTable > tbody > tr:nth-child(even) > th {
    background-color: #FFFFFF;
}

.dataTables_scrollBody > table.dataTable > tbody > tr.selected > td,
.dataTables_scrollBody > table.dataTable > tbody > tr.selected > th {
    background-color: #eeeeee;
}

/*dataTables_scrollBody > table.dataTable tbody tr.selected {
    background-color: #eeeeee !important;
}*/
/*tr.highlightExpanded {
    background-color: black !important;
}*/
.dataTables_wrapper {
    background-color: #FFFFFF;
}
.heightCenter {
    height: 100%;
    text-align: center;
}

    .heightCenter:before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 100%;
        margin-right: 0;
        vertical-align: middle;
    }

.content {
    display: inline-block;
}
progress {
    background: rgba(0, 133, 255, 0.7);
    animation: progressbar 2s ease-out;
    position: relative;
    left: 1%;
}

    progress.red {
        background: rgba(255, 0, 0, 0.5);
    }

    progress.update {
        background: rgba(0, 209, 255, 0.47);
    }

    progress::-webkit-progress-bar {
        background: #fff;
        border: 2px solid rgba(211,211,211,0.9);
    }

    progress::-webkit-progress-value {
        background: rgba(0, 133, 255, 0.7);
    }

    progress.red::-webkit-progress-value {
        background: rgba(255, 0, 0, 0.5);
    }

    progress.update::-webkit-progress-value {
        background: rgba(0, 209, 255, 0.47);
    }

    progress::-moz-progress-bar {
        background: rgba(0, 133, 255, 0.7);
    }

    progress.red::-moz-progress-bar {
        background: rgba(255, 0, 0, 0.5);
    }

/*스크롤 바 영역 전체*/
.dataTables_scrollBody::-webkit-scrollbar {
    width: 15px;
}

/*화살표를 제외한 몸통 부분*/
.dataTables_scrollBody::-webkit-scrollbar-track {
    border: 1px solid rgba(0, 0, 0, 0.54);
    border-radius: 10px;
    padding: 2px 0;
    background-color: #FFFFFF;
}

/*몸통 부분에서 실제 움직이는 부분*/
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(118, 155, 226, 0.56);
}

.loader {
    position: static;
    display: inline-block;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2.5s linear infinite;
    margin-left: 10px;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*search icon*/
.input_container {
    position: relative;
}
    .input_container input[type="text"] {
        position: relative;
        padding-right: 30px !important;
        font-size: 15px;
    }

    .input_container img {
        position: absolute;
        bottom: 2px;
        right: 5px;
        width: 20px;
        height: 20px;
        bottom: 9px;
    }

@keyframes ldio-d2vdiu90ejd {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5,1.5);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1,1);
    }
}

.ldio-d2vdiu90ejd div > div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #93dbe9;
    animation: ldio-d2vdiu90ejd 1.4285714285714284s linear infinite;
}

.ldio-d2vdiu90ejd div:nth-child(1) > div {
    left: 75px;
    top: 45px;
    animation-delay: -1.2857142857142856s;
}

.ldio-d2vdiu90ejd > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 80px 50px;
}

.ldio-d2vdiu90ejd div:nth-child(2) > div {
    left: 69px;
    top: 63px;
    animation-delay: -1.1428571428571428s;
}

.ldio-d2vdiu90ejd > div:nth-child(2) {
    transform: rotate(36deg);
    transform-origin: 74px 68px;
}

.ldio-d2vdiu90ejd div:nth-child(3) > div {
    left: 54px;
    top: 74px;
    animation-delay: -0.9999999999999999s;
}

.ldio-d2vdiu90ejd > div:nth-child(3) {
    transform: rotate(72deg);
    transform-origin: 59px 79px;
}

.ldio-d2vdiu90ejd div:nth-child(4) > div {
    left: 36px;
    top: 74px;
    animation-delay: -0.857142857142857s;
}

.ldio-d2vdiu90ejd > div:nth-child(4) {
    transform: rotate(108deg);
    transform-origin: 41px 79px;
}

.ldio-d2vdiu90ejd div:nth-child(5) > div {
    left: 21px;
    top: 63px;
    animation-delay: -0.7142857142857142s;
}

.ldio-d2vdiu90ejd > div:nth-child(5) {
    transform: rotate(144deg);
    transform-origin: 26px 68px;
}

.ldio-d2vdiu90ejd div:nth-child(6) > div {
    left: 15px;
    top: 45px;
    animation-delay: -0.5714285714285714s;
}

.ldio-d2vdiu90ejd > div:nth-child(6) {
    transform: rotate(180deg);
    transform-origin: 20px 50px;
}

.ldio-d2vdiu90ejd div:nth-child(7) > div {
    left: 21px;
    top: 27px;
    animation-delay: -0.4285714285714285s;
}

.ldio-d2vdiu90ejd > div:nth-child(7) {
    transform: rotate(216deg);
    transform-origin: 26px 32px;
}

.ldio-d2vdiu90ejd div:nth-child(8) > div {
    left: 36px;
    top: 16px;
    animation-delay: -0.2857142857142857s;
}

.ldio-d2vdiu90ejd > div:nth-child(8) {
    transform: rotate(252deg);
    transform-origin: 41px 21px;
}

.ldio-d2vdiu90ejd div:nth-child(9) > div {
    left: 54px;
    top: 16px;
    animation-delay: -0.14285714285714285s;
}

.ldio-d2vdiu90ejd > div:nth-child(9) {
    transform: rotate(288deg);
    transform-origin: 59px 21px;
}

.ldio-d2vdiu90ejd div:nth-child(10) > div {
    left: 69px;
    top: 27px;
    animation-delay: 0s;
}

.ldio-d2vdiu90ejd > div:nth-child(10) {
    transform: rotate(324deg);
    transform-origin: 74px 32px;
}

.loadingio-spinner-spin-tkucd6w91js {
    width: 35px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-d2vdiu90ejd {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.35);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-d2vdiu90ejd div {
        box-sizing: content-box;
    }
/* generated by https://loading.io/ */

