﻿.box {
}

    .box select {
        background-color: #ffffff;
        padding: 3px;
        font-size: 14px;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        font-weight: 500;
    }

    .box::before {
    }

    .box:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .box select option {
        padding: 30px;
    }
