﻿body {
    background-color: #ffffff;
    font-family: GmarketSansMedium;
    margin: 0px;
}

.contentWrapper{
    padding: 20px;
}

.clear { clear : both; }


/************* ACTIONBAR **************/

.actionBar{
    background: #403c7e;
    box-shadow: 0 0 20px #AAA;
    vertical-align:middle;
}
.actionBar .actionBtn{
    display:inline-block;
    vertical-align:middle;
    color:white;
    text-decoration:none;
    font-size:25px;
    padding:20px;
    padding-left:60px;

    background:url(/Content/Images/arrow_back.png) 25px 50% no-repeat;

}
.actionBar .label{
    display:inline-block;
    vertical-align:middle;
    color:white;
    font-size:25px;
    font-weight:bold;
    padding:20px 0;
}

/************* INDEX **************/

.index {
}
    .index .logo {
        margin: 0;
        background: rgba(98, 142, 255, 0.7);
        text-align: center;
        padding: 30px 0;
        box-shadow: 0 0 10px #AAA;
    }
        .index .logo img {
            max-width: 100%;
            height: auto;
        }
.index .wrapper
{

}
    .index .button {
        display: block;
        padding: 140px 0;
        text-align: center;
        background-color: rgba(190, 209, 237, 0.25);
        text-decoration: none;
        color: rgba(82, 82, 82, 0.85);
        font-weight: bold;
        font-size: 90px;
        /*border: 3px solid #403c7e;*/
        border-radius: 30px;
    }
.index .button.signup
{
}
.index .button.signin
{
}

    .index .pagelink {
        margin: 30% auto;
        width: 80%;
    }

/************* SIGNUP **************/

.contentBox {
    background-color:#FFF;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 0 10px #AAA;
    margin-bottom:20px;
}


/*Agreements*/
.agreements{

}
.agreements.contentWrapper{
    max-width:500px;
    margin: 0 auto;
}

.agreements .line {
    display:relative;
    padding: 15px;
}

.agreements .line.name {
    height: 13px;
    padding-top:20px;
}

.agreements .line .name {
    display:relative;
    float:left;
    font-weight:bold;
    font-size: 16px;
}

.agreements .line .agreement {
    display:relative;
    float:right;
}

.agreements .underline {
    border-bottom: 1px solid #DDD;
}
.agreements .line .message {
    border: 1px solid #eee;
    border-radius:5px;
    background-color: #fafafa;
    padding: 10px;
    height: 200px;
    overflow-y:scroll;
}



/*Forms*/

.signup {
}

.inputlist .line {
    padding:10px 20px;
}
.inputlist .empty {
    padding:10px;
    background:#fafafa;
}
.inputlist .empty.warning {
    color: #ff6c00;
    padding: 0 10px;
    font-size: 12px;
    text-align:center;
}

.inputlist .line.last {
    text-align:right;
    padding-bottom:20px;
}
.inputlist .line.center {
    text-align:center !important;
}
.inputlist .line.last input{
    padding:10px 40px;
}

.inputlist .underline{
    border-bottom:1px solid #DDD;
}

.inputlist .line label {
    display:inline-block;
    width: 100px;
    vertical-align:middle;
}

.inputlist .line .InputLine {
    display: inline-block;
    vertical-align:middle;
}
.inputlist .line .InputLine label{
    width: 40px;
}

.inputlist .line .InputLine input {
    padding:10px;
    border:none;
    border-bottom:1px solid #DDD;
}

.inputlist .line .InputLine input[type=text],
.inputlist .line .InputLine input[type=password] {
}

.inputlist #ErrorMsg
{
    background-color: #ffb1b1;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    color: #000000;
}

.ErrorWrapper {
    position:absolute;
    left:0;
    right:0;
}

.ErrorWrapper #ErrorMsg {
    background-color: #ffb1b1;
    padding: 30px 0 15px 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    margin: 40px;
    margin-top: 0;
    font-weight: bold;
    color: #000000;
    box-shadow: 0 3px 20px rgba(0,0,0,.5);
}

.popupBox {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    z-index:1000;
    display:none;
}
.popupBox.display {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    z-index:1000;
    display:block;
}

.popupBox .wrapper{
    position:absolute;
    left:50%;
    top:50%;
}

.popupBox .wrapper .box {
    position:absolute;
    left:-200px;
    top:-160px;
    width:400px;
    height:220px;

    border:1px solid #EEE;
    border-radius:20px;
    box-shadow: 0 5px 20px #555;

    background:white;
    text-align:center;
}

.popupBox .wrapper .box .message {
    padding-top:20px;
    padding-bottom:10px;
}

.popupBox .wrapper .box .message p {
    margin:15px;
    line-height:26px;
}

.popupBox .wrapper .box .message p .highlight {
    background-color: #e49035;
    border-radius:5px;
    color:white;
    padding:3px 5px 4px 5px;

}

.signup.popupBox .wrapper .box {
    left:-200px;
    top:-200px;
    width:400px;
    height:250px;
}

.coupon.popupBox .wrapper .box {
    left:-200px;
    top:-160px;
    width:400px;
    height:220px;
}


/*Forms*/

#attributes .line>label{
    display:block;
    width:initial;
    margin-bottom:10px;
}
#attributes .line .InputLine label{
    width:60px;
}






/****************** POPUP ********************/
.easypopup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
    display: none;
    background-color: rgba(0,0,0,.5);
}
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .6);
    transition: opacity .25s ease;
}

.modal_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state {
    display: none;
}

    .modal-state:checked + .modal {
        opacity: 1;
        visibility: visible;
    }

        .modal-state:checked + .modal .modal__inner {
            top: 0;
        }

.modal_inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
}

.modal_close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

    .modal_close:after,
    .modal_close:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 1.5em;
        background: #ccc;
        display: block;
        transform: rotate(45deg);
        left: 50%;
        margin: -3px 0 0 -1px;
        top: 0;
    }

    .modal_close:hover:after,
    .modal_close:hover:before {
        background: #aaa;
    }

    .modal_close:before {
        transform: rotate(-45deg);
    }

@media screen and (max-width: 768px) {

    .modal_inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

.btn {
    cursor: pointer;
    background: #27ae60;
    display: inline-block;
    padding: .5em 1em;
    color: #fff;
    border-radius: 3px;
}

    .btn:hover,
    .btn:focus {
        background: #2ecc71;
    }

.popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
    display: none;
    background-color: rgba(0,0,0,.5);
}

.popup .wrapper
{
    background-color:#FFF;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 0 10px #777;
    padding:20px;
    margin-bottom:10px;
}


.popup .search
{

}

.popup .search a
{
    display:inline-block;
}

.popup .search input[type="text"]
{
    display:inline-block;
    padding:8px;
    border-radius:3px;
    border:1px solid #AAA;
}

.popup .result
{
    overflow-y : scroll;
}

.popup .result a
{
    display:block;
    margin-bottom:5px;
    text-align:center;
}

.popup .result a div
{
    display:inline-block;
    margin: 0 10px;
}




/****************** INFO ********************/

.infos .char {
    padding:20px;
    float:left;
}

.infos .char a {

}

.infos .char a img {
    width:300px;
    height:300px;
    border-radius:10px;
    border:1px solid #AAA;
}

.infos .detail {
    padding:20px;
    margin-left:315px;
}

.infos .detail .line {
    border-bottom:1px solid #DDD;
}

.infos .coupon .title {
    padding:20px;
    font-weight:bold;
    border-bottom:1px solid #DDD;

}
.infos .coupon table {
    padding:10px 20px;
    padding-bottom: 20px;
    width:100%;
    border-spacing: 0px;
}
.infos .coupon table tr{
}
.infos .coupon table th{
    border-bottom:double #DDD;
    padding-bottom:10px;
}
.infos .coupon table td {
    padding:10px 0;
    text-align:center;
    border-bottom:1px solid #EEE;
}
.infos .coupon table tr.used{
    background:#EEE;
}
.infos .coupon table .used td {
    color:#AAA;
    border-color: #FFF;
}

.infos .coupon table .name{

}
.infos .coupon table .discount{
    width:90px;
}
.infos .coupon table .due{
    width:110px;
}
.infos .coupon table .use{
    width:110px;
}




/****************** CHANGECHAR ********************/

.changechar .contentBox .container {
    padding: 3%;
    padding-right:0px;
}
.changechar .contentBox .container label {
    width:19.5%;
    margin:1%;
    padding:1%;
    border-radius:10%;
}
.changechar .contentBox .container label img{
    width:100%;
    border-radius:10%;
}