﻿@Scripts.Render("/Scripts/Fantafo/LMS/CompletionLms.js")
@Scripts.Render("/Scripts/Fantafo/Admin.js")
@Styles.Render("/Content/LMS.css")

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGrid</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/editor.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/select.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/sorting.datetime-moment.js"></script>
    <script src="~/Scripts/dataTables.editor.min.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>
    <!--<script src="//cdn.datatables.net/plug-ins/1.10.19/filtering/row-based/range_dates.js"></script>-->

    <script>
    </script>
</head>
<body>
    <div id="toolbar">

        <a class="btn btn-default " href="/desk">VR 수업</a>
        <a class="btn btn-default " href="/Lms/index">학생 정보</a>
        <a class="btn btn-info" href="/Lms/Completion">이용 정보</a>
        <!--<a class="btn btn-default" href="/Lms/Stats">이용 통계</a>-->
        <!--<a class="btn btn-default" href="JAVASCRIPT:AjaxCall('/api/Member/dummy')">10개 더미 데이터 추가</a>-->
        <div span style="float:right">
            <a id="AdminLoginBtn" class="btn btn-default"></a>
            <a class="btn btn-default" onclick="JAVASCRIPT:CompletionInit()">이용 정보 초기화</a>
        </div>
    </div>

    <script>
    </script>

    <!-- search box container starts  -->
        <br />
        <form class="form-inline" method="post" style="text-align:center">
            <label for="fromdate">시작일 : </label>
            <div class="form-group">
                <input type="date" id="datepicker1" value="" class="form-control" placeholder="FROM DATE" required>
            </div>
            &emsp;
            <label for="todate">종료일 : </label>
            <div class="form-group">
                <input type="date" id="datepicker2" value="" class="form-control" placeholder="TO DATE" required>
            </div>
            &emsp;&emsp;&emsp;
            <button style="background-color: rgb(124,77,255);color: #fff" type="submit" id="search" class="btn btn-default"
                    onclick="JAVASCRIPT:DateSearch()">
                기간 설정
            </button>
        </form>
        <!-- search box container ends  -->


        <div class="container">
            <br />
            <div style="width:100%; margin:0 auto; text-align:right;">
                <!--<table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%;  text-align:left;">-->
                <table id="demoGrid" class="display table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%;  text-align:left;">
                    <thead>
                        <tr>
                            <th>MemberSN</th>
                            <th>학번</th>
                            <th>이름</th>
                            <th>실험실명(학과명)</th>
                            <!--<th>지도 교수</th>-->
                            <th>이수 시간(분)</th>
                            <th>이수 날짜</th>
                            <th>점수</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


</body>
</html>
