﻿@Scripts.Render("/Scripts/Fantafo/LMS/MemberLms.js")
@Scripts.Render("/Scripts/Fantafo/Admin.js")
@Styles.Render("/Content/LMS.css")

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGrid</title>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/editor.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/select.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="~/Scripts/dataTables.editor.min.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>

    <style>
        .btn-default input[type="file"] { /* 파일 필드 숨기기 */
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }

        .btn-default label {
            display: inline;
            margin-bottom: 5px;
            font-weight: normal;
        }
    </style>

</head>
<body>
    <div id="toolbar">
        <a class="btn btn-default" href="/desk"> VR 수업</a>
        <a class="btn btn-info" href="/Lms/index"> 학생 정보</a>
        <a class="btn btn-default" href="/Lms/Completion"> 이용 정보</a>
        <!-- <a class="btn btn-default" href="/Lms/Stats" > 이용 통계</a >-->
        <div span style="float:right">
            <a id="AdminLoginBtn" class="btn btn-default"> </a>
            <a class="btn btn-default" onclick="JAVASCRIPT:MemberInit()"> 학생 정보 초기화</a>
            <a class="btn btn-default">
                <form enctype="multipart/form-data" id="img_form" method="post">
                    <label for="img_input">학생 정보 등록</label>
                    <input id="img_input" type="file" name="image" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                </form>
                <script type="text/javascript">
                    document.getElementById('img_input').onchange = function () {
                        upload();
                    };
                    function upload() {
                        var upload = document.getElementById('img_input');
                        var image = upload.files[0];
                        $.ajax({
                            url: "/api/Member/PostFormData",
                            type: "POST",
                            data: new FormData($('#img_form')[0]),
                            contentType: false,
                            cache: false,
                            processData: false,
                            datatype: 'json',
                            success: function (msg) {
                                alert(msg.msg);
                                /*
                                $.ajax({
                                    url: "/api/Member/ExcelRead",
                                    type: "POST",
                                    success: function (msg) { alert(msg.msg); },
                                    error: function (msg) {
                                        alert(msg.msg);
                                    }
                                });
                                */
                            },
                            error: function (msg) {
                                alert(msg.responseJSON.ExceptionMessage);
                            }
                        });
                    };
                </script>
            </a>
        </div>
    </div>

    <br />
    <div class="container">
        <div style="width:100%; margin:0 auto; text-align:right;">
            <table id="demoGrid" class="display table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%;  text-align:left;">
                <thead>
                    <tr>
                        <th> SN</th>
                        <th> 학번</th>
                        <th> 이름</th>
                        <th> 실험실명(학과명)</th>
                        <!--<th> 지도교수</th>
                        <th> 성별</th>-->
                    </tr>
                </thead>
            </table>
        </div>
    </div>




</body>
</html>

