﻿@Scripts.Render("/Scripts/Fantafo/LMS/Stats.js")
@Scripts.Render("/Scripts/Fantafo/Admin.js")
@Styles.Render("/Content/LMS.css")

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGrid</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/editor.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="~/Scripts/dataTables.editor.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/sorting.datetime-moment.js"></script>
    <script src="~/Scripts/dataTables.editor.min.js"></script>


    <script src="//cdn.datatables.net/plug-ins/1.10.18/filtering/row-based/range_dates.js"></script>

    <link data-require="jqueryui" data-semver="1.10.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
    <script data-require="jqueryui" data-semver="1.10.0" src="//cdnjs.cloudflarejax/libs/jqueryui/1.10.0/jquery-ui.js"></script>

</head>
<body>
    <div id="toolbar">
        <a class="btn btn-default " href="/desk">VR 수업</a>
        <a class="btn btn-default " href="/Lms/index">학생 정보</a>
        <a class="btn btn-default" href="/Lms/Completion">이용 정보</a>
        <!--<a class="btn btn-info" href="/Lms/Stats">이용 통계</a>-->
        <div span style="float:right">
            <a id="AdminLoginBtn" class="btn btn-default"></a>
        </div>
    </div>

    <div class="container">
        <br />
        <div style="width:100%; margin:0 auto; text-align:right;">
            <table id="demoGrid" class="display table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%;  text-align:left;">
                <thead>
                    <tr>
                        <th>학과</th>
                        <th>인원수</th>
                        <th>이용수</th>
                        <th>백분율</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


</body>
</html>
