﻿@Scripts.Render("/Scripts/Fantafo/AddInfo.js")

<script type="text/javascript">
    this.userAttributes = @Html.Raw(ViewBag.attributes);
</script>

<div id="CouponBox" class="coupon popupBox@(ViewBag.IsFirst?" display":"")">
    <div class="wrapper">
        <div class="box">
            <div class="message">
                <p>추가 정보 입력에 감사드립니다!</p>
                <p>
                    <span class="highlight">1000원 할인 쿠폰</span>을 1장 받으셨습니다!<br />
                    게임선택 시에 점원에게 말해주세요!
                </p>
            </div>
            <a href="/">홈으로<span id="homecount">(0)</span></a>
            <a href="/Member/Info">내정보</a>
        </div>
    </div>
</div>

<div class="actionBar">
    <a class="actionBtn" href="@ViewBag.redirect">@ViewBag.Title</a>
</div>
<form id="attributes" action="/Member/ProcAdditionalInfo" method="post">
    <div class="attributes inputlist contentWrapper">
        <div class="contentBox">
            <div class="line">
                <label>직업</label>
                <div class="InputLine">
                    <input name="job" type="text" class="contentWidth" data-margin="20" data-focusid="1" />
                </div>
            </div>
            <div class="line underline">
                <label>주소(동,구)</label>
                <div class="InputLine">
                    <input name="address" type="text" class="contentWidth" data-margin="20" data-focusid="1" />
                </div>
            </div>
            <div class="empty underline"></div>
            <div class="line">
                <label>VR 경험 횟수</label>
                <div class="InputLine">
                    <label for="vr_ex_cnt_0">없음</label><input id="vr_ex_cnt_0" name="vr_ex_cnt" type="radio" value="0" />
                    <label for="vr_ex_cnt_1">1회</label><input id="vr_ex_cnt_1" name="vr_ex_cnt" type="radio" value="1" />
                    <label for="vr_ex_cnt_2">~5회</label><input id="vr_ex_cnt_2" name="vr_ex_cnt" type="radio" value="2" />
                    <label for="vr_ex_cnt_6">~10회</label><input id="vr_ex_cnt_6" name="vr_ex_cnt" type="radio" value="6" />
                    <label for="vr_ex_cnt_99">그 이상</label><input id="vr_ex_cnt_99" name="vr_ex_cnt" type="radio" value="99" />
                </div>
            </div>
            <div class="line underline">
                <label>주당 게임 시간(모바일 포함)</label>
                <div class="InputLine">
                    <label for="gm_wk_t_0">안함</label><input id="gm_wk_t_0" name="gm_wk_t" type="radio" value="0" />
                    <label for="gm_wk_t_1">1시간</label><input id="gm_wk_t_1" name="gm_wk_t" type="radio" value="1" />
                    <label for="gm_wk_t_2">~3시간</label><input id="gm_wk_t_2" name="gm_wk_t" type="radio" value=2" />
                    <label for="gm_wk_t_4">~5시간</label><input id="gm_wk_t_4" name="gm_wk_t" type="radio" value="4" />
                    <label for="gm_wk_t_6">~10시간</label><input id="gm_wk_t_6" name="gm_wk_t" type="radio" value="6" />
                    <label for="gm_wk_t_99">그 이상</label><input id="gm_wk_t_99" name="gm_wk_t" type="radio" value="99" />
                </div>
            </div>
            <div class="line last center">
                <input type="submit" value="전송" />
            </div>
        </div>
    </div>
</form>
