﻿@Scripts.Render("/Scripts/Fantafo/ChangeChar.js")
<script type="text/javascript">
    var avatarData = {
        body: @ViewBag.user.AvatarBody,
        head: @ViewBag.user.AvatarHead,
    };
</script>

<div class="actionBar">
    <a class="actionBtn" href="/Member/Info">@ViewBag.Title</a>
</div>

<div class="changechar inputlist contentWrapper">
    <div class="contentBox" data-prefix="head" data-min="1" data-max="4">
        <div class="container">
        </div>
    </div>
    <div class="contentBox" data-prefix="body" data-min="1" data-max="4">
        <div class="container">
        </div>
    </div>
</div>
