﻿@Scripts.Render("/Scripts/Fantafo/Info.js")

@if (ViewBag.needInfo)
{
<div id="AdditionalBox" class="popupBox" style="display:block">
    <div class="wrapper">
        <div class="box">
            <div class="message">
                <p>추가 정보를 입력하시면 <span class="highlight">1000원 할인 쿠폰</span>을<br />받으실 수 있습니다!</p>
                <p>입력하신 추가정보는 통계에만 사용됩니다.</p>
            </div>
            <a onclick="JAVASCRIPT:ClosePopup()">취소</a>
            <a href="/Member/AdditionalInfo?redirect=/Member/Info">추가정보 입력</a>
        </div>
    </div>
</div>
}

<div class="actionBar">
    <a class="actionBtn" href="/">@ViewBag.Title</a>
</div>

<div class="infos inputlist contentWrapper">
    <div class="contentBox">
        <div class="char">
            <a href="/Member/ChangeCharacter">
                <img src="~/Content/Images/cha.png" />
            </a>
        </div>
        <div class="detail">
            <div class="line">
                <label>레벨</label>
                <div class="InputLine">
                    @ViewBag.user.Level (@ViewBag.user.ToExpPercent)
                </div>
            </div>
            <div class="line">
                <label>플레이시간</label>
                <div class="InputLine">
                    @ViewBag.user.ToPlayTime
                </div>
            </div>
            <div class="line">
                <label>플레이횟수</label>
                <div class="InputLine">
                    @ViewBag.user.PlayCount.ToString("n0")회
                </div>
            </div>
            <div class="line">
                <label>통합점수</label>
                <div class="InputLine">
                    @ViewBag.user.TotalScore.ToString("n0")점
                </div>
            </div>
            <div class="line">
                <label>최고점수</label>
                <div class="InputLine">
                    @ViewBag.user.TopScore.ToString("n0")점
                </div>
            </div>
            <div class="line">
                <label>평균점수</label>
                <div class="InputLine">
                    @ViewBag.user.CalcAverageScore.ToString("n0")점
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="coupon contentBox">
        <div class="title">
            쿠폰목록
        </div>
        <table>
            <tr>
                <th class="name">이름</th>
                <th class="discount">할인</th>
                <th class="due">만기일</th>
                <th class="use">사용일</th>
            </tr>
            @if (ViewBag.user.Coupons != null && ViewBag.user.Coupons.Count > 0)
            {
                foreach (var coupon in ViewBag.user.Coupons)
                {
            <tr @Html.Raw(coupon.UseDate.Ticks != 0 ? "class='used'" : "")>
                <td class="name">@coupon.Name</td>
                <td class="discount">@coupon.Discount.ToString("n0")원</td>
                <td class="due">@coupon.RegistDate.ToString("yyyy-MM-dd")</td>
                <td class="use">@(coupon.UseDate.Ticks != 0 ? coupon.UseDate.ToString("yyyy-MM-dd") : "-")</td>
            </tr>
                }
            }
            else
            {
            <tr class="used">
                <td colspan="4">
                    -
                </td>
            </tr>
            }
        </table>
    </div>
</div>
