﻿@Scripts.Render("/Scripts/Fantafo/Signup.js")

<div class="ErrorWrapper">
    <div id="ErrorMsg" style="display:none"></div>
</div>

<div id="SuccessBox" class="signup popupBox">
    <div class="wrapper">
        <div class="box">
            <div class="message">
                <p>가입을 축하드립니다!</p>
                <p></p>
                <p>추가 정보를 입력하시면 <span class="highlight">1000원 할인 쿠폰</span>을<br />받으실 수 있습니다!</p>
                <p>입력하신 추가정보는 통계에만 사용됩니다.</p>
            </div>
            <a href="/">홈으로<span id="homecount">(0)</span></a>
            <a href="/Member/AdditionalInfo">추가정보 입력</a>
        </div>
    </div>
</div>

<div class="actionBar">
    <a class="actionBtn" href="/">@ViewBag.Title</a>
</div>
<form id="signup" action="/api/Member/Signup" method="get">
    <div class="signup inputlist contentWrapper">
        <div class="contentBox">

            <div class="line">
                <label>이름</label>
                <div class="InputLine">
                    <input name="name" type="text" class="contentWidth" data-margin="-90" data-focusid="1" />
                </div>
            </div>
            <div class="line">
                <label>이메일</label>
                <div class="InputLine">
                    <input name="email" type="email" class="contentWidth" data-margin="-90" data-focusid="2" />
                </div>
            </div>
            <div class="line underline">
                <label>핸드폰</label>
                <div class="InputLine">
                    <input name="mobile" type="tel" class="contentWidth" data-margin="-90" data-focusid="3" />
                </div>
            </div>
            <div class="warning empty">※ 위 항목은 게임 진행에 필요한 내용이니 정확하게 입력해주시기 바랍니다.</div>
            <div class="empty underline"></div>
            <div class="line">
                <label>닉네임</label>
                <div class="InputLine">
                    <input name="nickname" type="text" class="contentWidth" data-margin="-90" data-focusid="4" />
                </div>
            </div>
            <div class="line">
                <label>비밀번호</label>
                <div class="InputLine">
                    <input name="password" type="password" class="contentWidth" data-margin="-90" data-focusid="5" />
                </div>
            </div>
            <div class="line underline">
                <label>비번확인</label>
                <div class="InputLine">
                    <input id="confirm" type="password" class="contentWidth" data-margin="-90" data-focusid="6" />
                </div>
            </div>
            <div class="empty underline"></div>
            <div class="line">
                <label>생일</label>
                <div class="InputLine">
                    <input name="birth" type="datetime-local" value="@DateTime.Now.AddYears(-20).ToString("yyyy-MM-ddT09:00:00")" data-focusid="7" />
                </div>
            </div>
            <div class="line underline">
                <label>성별</label>
                <div class="InputLine">
                    <label for="male">남자</label>
                    <input id="male" name="gender" type="radio" value="0" data-focusid="8" />
                    <label for="female">여자</label>
                    <input id="female" name="gender" type="radio" value="1" />
                </div>
            </div>

            <div class="line underline last">
                <input type="submit" value="가입완료" data-focusid="9" data-lastfocus="1" />
            </div>
        </div>
    </div>
</form>
