﻿@Scripts.Render("/Scripts/Fantafo/Signup.js")
<script>
    function onAgree()
    {
        return false;
    }
</script>
<div class="actionBar">
    <a class="actionBtn" href="/">@ViewBag.Title</a>
</div>
<div class="agreements contentWrapper">
    <div class="contentBox">
        <div class="line name">
            <div class="name">판타포 이용약관 동의</div>
            <label for="isFantafo" class="agreement">동의</label>
            <input type="checkbox" class="agreement" id="isFantafo" />
            <div class="clear"></div>
        </div>
        <div class="line underline">
            <div class="message">
                MS, 윈도폰 8.1 기술지원 종료 발표
                (지디넷코리아=이정현 기자)마이크로소프트(이하 MS)가 모바일 운영체제 ‘윈도폰 8.1’ 기술 지원 중단을 발표했다고 IT매체 비즈니스인사이더가 11일(현지시간) 보도했다.
                윈도 8.1은 2014년 7월 11일 출시된 모바일 운영체제로, MS는 윈도 8.1을 출시했을 때 3년 간의 업데이트와 패치를 제공하겠다고 약속한 바 있다. 이제 윈도폰 8.1 사용자들은 윈도10 모바일로 업그레이드를 해야 최신 업데이트 및 보안패치를 받을 수 있다. 하지만, 기종에 따라 무료 업그레이드 제공 대상이 아니거나, 아예 OS 업그레이드를 받지 못할 수도 있다.
                MS, 윈도폰 8.1 기술지원 종료 발표
                (지디넷코리아=이정현 기자)마이크로소프트(이하 MS)가 모바일 운영체제 ‘윈도폰 8.1’ 기술 지원 중단을 발표했다고 IT매체 비즈니스인사이더가 11일(현지시간) 보도했다.
                윈도 8.1은 2014년 7월 11일 출시된 모바일 운영체제로, MS는 윈도 8.1을 출시했을 때 3년 간의 업데이트와 패치를 제공하겠다고 약속한 바 있다. 이제 윈도폰 8.1 사용자들은 윈도10 모바일로 업그레이드를 해야 최신 업데이트 및 보안패치를 받을 수 있다. 하지만, 기종에 따라 무료 업그레이드 제공 대상이 아니거나, 아예 OS 업그레이드를 받지 못할 수도 있다.
                MS, 윈도폰 8.1 기술지원 종료 발표
                (지디넷코리아=이정현 기자)마이크로소프트(이하 MS)가 모바일 운영체제 ‘윈도폰 8.1’ 기술 지원 중단을 발표했다고 IT매체 비즈니스인사이더가 11일(현지시간) 보도했다.
                윈도 8.1은 2014년 7월 11일 출시된 모바일 운영체제로, MS는 윈도 8.1을 출시했을 때 3년 간의 업데이트와 패치를 제공하겠다고 약속한 바 있다. 이제 윈도폰 8.1 사용자들은 윈도10 모바일로 업그레이드를 해야 최신 업데이트 및 보안패치를 받을 수 있다. 하지만, 기종에 따라 무료 업그레이드 제공 대상이 아니거나, 아예 OS 업그레이드를 받지 못할 수도 있다.
            </div>
        </div>
        <div class="line name">
            <div class="name">개인정보 수집 및 이용에 대한 안내</div>
            <label for="isPrivacy" class="agreement">동의</label>
            <input type="checkbox" class="agreement" id="isPrivacy" />
            <div class="clear"></div>
        </div>
        <div class="line underline">
            <div class="message">                                대부분의 사람들은 윈도폰의 사망을 이미 기정사실처럼 받아들이고 있지만, 아직도 많은 사람들이 윈도폰을 사용하고 있고 이들 중 대부분은 구형버전을 쓰고 있는 상태다. 모바일 광고회사 애드듀플렉스 자료에 따르면, 윈도폰 사용자의 약 80%는 여전히 윈도폰 7, 윈도폰 8, 윈도폰 8.1을 실행하고 있다.
                윈도8.1은 기존 윈도폰 8 운영체제에 코타나 디지털 음성비서를 탑재하고 새로운 UI를 변경하는등 대규모의 업데이트를 진행했지만 안드로이드, iOS와 경쟁하기에는 역부족이었다.
                일부에서는 이번 기술지원 종료에 대해 아직 구형버전 사용자 비중이 높은 점, 윈도10 모바일로 업그레이드 할 수 있는 기종이 많지 않은 점을 들어 MS가 앞으로도 중대한 보안패치는 계속 지원하지 않겠냐는 예측을 하고 있다. 하지만, 비즈니스인사이더는 현재 윈도폰의 모바일 운영체제 시장점유율은 0.3%에 불과하다며 이에 대해 부정적인 의견을 내놨다.
                대부분의 사람들은 윈도폰의 사망을 이미 기정사실처럼 받아들이고 있지만, 아직도 많은 사람들이 윈도폰을 사용하고 있고 이들 중 대부분은 구형버전을 쓰고 있는 상태다. 모바일 광고회사 애드듀플렉스 자료에 따르면, 윈도폰 사용자의 약 80%는 여전히 윈도폰 7, 윈도폰 8, 윈도폰 8.1을 실행하고 있다.
                윈도8.1은 기존 윈도폰 8 운영체제에 코타나 디지털 음성비서를 탑재하고 새로운 UI를 변경하는등 대규모의 업데이트를 진행했지만 안드로이드, iOS와 경쟁하기에는 역부족이었다.
                일부에서는 이번 기술지원 종료에 대해 아직 구형버전 사용자 비중이 높은 점, 윈도10 모바일로 업그레이드 할 수 있는 기종이 많지 않은 점을 들어 MS가 앞으로도 중대한 보안패치는 계속 지원하지 않겠냐는 예측을 하고 있다. 하지만, 비즈니스인사이더는 현재 윈도폰의 모바일 운영체제 시장점유율은 0.3%에 불과하다며 이에 대해 부정적인 의견을 내놨다.
                대부분의 사람들은 윈도폰의 사망을 이미 기정사실처럼 받아들이고 있지만, 아직도 많은 사람들이 윈도폰을 사용하고 있고 이들 중 대부분은 구형버전을 쓰고 있는 상태다. 모바일 광고회사 애드듀플렉스 자료에 따르면, 윈도폰 사용자의 약 80%는 여전히 윈도폰 7, 윈도폰 8, 윈도폰 8.1을 실행하고 있다.
                윈도8.1은 기존 윈도폰 8 운영체제에 코타나 디지털 음성비서를 탑재하고 새로운 UI를 변경하는등 대규모의 업데이트를 진행했지만 안드로이드, iOS와 경쟁하기에는 역부족이었다.
                일부에서는 이번 기술지원 종료에 대해 아직 구형버전 사용자 비중이 높은 점, 윈도10 모바일로 업그레이드 할 수 있는 기종이 많지 않은 점을 들어 MS가 앞으로도 중대한 보안패치는 계속 지원하지 않겠냐는 예측을 하고 있다. 하지만, 비즈니스인사이더는 현재 윈도폰의 모바일 운영체제 시장점유율은 0.3%에 불과하다며 이에 대해 부정적인 의견을 내놨다.
                대부분의 사람들은 윈도폰의 사망을 이미 기정사실처럼 받아들이고 있지만, 아직도 많은 사람들이 윈도폰을 사용하고 있고 이들 중 대부분은 구형버전을 쓰고 있는 상태다. 모바일 광고회사 애드듀플렉스 자료에 따르면, 윈도폰 사용자의 약 80%는 여전히 윈도폰 7, 윈도폰 8, 윈도폰 8.1을 실행하고 있다.
                윈도8.1은 기존 윈도폰 8 운영체제에 코타나 디지털 음성비서를 탑재하고 새로운 UI를 변경하는등 대규모의 업데이트를 진행했지만 안드로이드, iOS와 경쟁하기에는 역부족이었다.
                일부에서는 이번 기술지원 종료에 대해 아직 구형버전 사용자 비중이 높은 점, 윈도10 모바일로 업그레이드 할 수 있는 기종이 많지 않은 점을 들어 MS가 앞으로도 중대한 보안패치는 계속 지원하지 않겠냐는 예측을 하고 있다. 하지만, 비즈니스인사이더는 현재 윈도폰의 모바일 운영체제 시장점유율은 0.3%에 불과하다며 이에 대해 부정적인 의견을 내놨다.
            </div>
        </div>
        <div class="submit line" style="text-align:center">
            <div id="agreeBtn">모두동의</div>
        </div>
    </div>
</div>