﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=700, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/utils")
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>