﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>

        <p>@Model.Exception.Message</p>
        <p>@Html.Raw(Model.Exception.StackTrace.Replace("\r", "").Replace("\n", "<br/>"))</p>
    </hgroup>
</body>
</html>
