﻿@Scripts.Render("/Scripts/Fantafo/Desk/Desk.js")
@Scripts.Render("/Scripts/Fantafo/Desk/Desk.Room.js")
@Scripts.Render("/Scripts/Fantafo/Desk/Desk.Device.js")
@Scripts.Render("/Scripts/Fantafo/Desk/Categorys.js")
@Scripts.Render("/Scripts/sweetalert-2.1.2.min.js")
@Styles.Render("/Content/Desk.css")
@Styles.Render("/Content/ios-switch.css")
@Styles.Render("/Content/onoffswitch.css")
<!DOCTYPE html>
<html>
<head>
    <style>
        td.details-control {
            background: url('../../Content/Images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../Content/Images/details_close.png') no-repeat center center;
        }

        .dataTables_wrapper .dataTables_length {
            margin-top: 20px;
        }

        .roomDelete-icon {
            background: url('../../Content/Images/room_delete_icon.png') no-repeat center center;
        }
    </style>
</head>
<body>
    <div class="search popup">
        <div class="search wrapper contentWidth">
            <div class="title">적용할 에이전트를 선택하세요</div>
            <div class="middleTitle">
                <div class="input_container">
                    <input type="text" data-margin="-60" data-mtarget="window" />
                    <img src="../../Content/Images/icon_search.png">
                </div>
            </div>
            <div class="result contentHeight" data-margin="-160">
                <a href="Fims.current.AddUser(0)"></a>
                <a><div class="name">정상철</div><div class="nick">시온스</div><div class="age">1989-06-22</div><div class="phone">6622</div></a>
            </div>
            <a class="close" id="search-close" style="border: 2px solid #A5A5A5; margin-top: 30px;" href="JAVASCRIPT:UserFounder.Close()">닫기</a>
        </div>
    </div>

    <div id="toolbar">
        <a class="button select" href="/Desk/index">VR 수업</a>
        <a class="button" href="/Desk/UpdateFile">업데이트 항목</a>
        <a class="button" href="/Desk/UpdateDevice">업데이트 기기</a>
    </div>

    <div id="sessionWindow" class="contentWrapper contentWindow">

        <div class="nameBar">방 선택</div>
        <div class="roomList">
            <div id="roomList" class="wrapper">
                <div id="addSession" class="item">
                    <img src="~/Content/Images/add_icon.png" />
                </div>
            </div>
        </div>

        <div class="nameBar">방 설정</div>
        <div id="contentBlock">
            <div class="user contentRow">
                <div class=rlabel>선생님</div>
                <div class="connect list contentWidth">
                    <ul id="teacherlist" class="userlist"></ul>
                    <a class="button" id="newUser" href="javascript:UserFounder.Open(1)">선택</a>
                </div>
            </div>
            <div class="user contentRow ">
                <div class=rlabel>학생</div>
                <div class="connect list contentWidth">
                    <ul id="userlist" class="userlist"></ul>
                    <a class="button" id="newUser" href="javascript:UserFounder.Open(0)">선택</a>
                </div>
            </div>

            <div class="game contentRow">
                <div class="trlabel">
                    <div id="DeviceCount" type="text" value="" style="display:inline-block"></div>
                    <a class="button refresh" id="roomInit"></a>
                </div>

                <div class="category">카테고리</div>
                <div class="list contentWidth2">
                    <input type="radio" name="game" id="game_hide" value="0" checked />
                    <label for="game_hide" style="display:none"></label>
                </div>
            </div>
            <div class="level contentRow">
                <div class="category">주제</div>
                <div id="observerBtn" class="trlabel">
                    <label>옵저버<input type="checkbox" class="ios-switch tinyswitch" /><div><div></div></div></label>
                </div>
                <div class="list contentWidth2">
                </div>
            </div>
            <div id="detailContentRow" class="detail contentRow">
                <div class="category">요소</div>
                <div class="list contentWidth2">
                </div>
            </div>
        </div>
        <div class="controll contentRow">
            <div class="right bottom">
                <button id="fastStartBtn" class="actionBtn">시작</button>
                <button id="forcedStartBtn" class="actionBtn">강제 시작</button>
                <button id="applyBtn" class="actionBtn">로그인 시작</button>
                <button id="stopBtn" class="actionBtn">중지</button>
                <button id="actionBtn" class="actionBtn">시작</button>
                <button id="removeBtn" class="actionBtn">삭제</button>
            </div>
        </div>
    </div>

    <div id="deviceWindow" class="contentWrapper contentWindow">
        <div id="deviceTop">
            <div>에이전트</div>
            <div id="toggleAgents">
                <label><input type="checkbox" class="ios-switch tinyswitch" /><div><div></div></div></label>
            </div>
            <div id="deviceCount"></div>
            <div style="float:right">
                <div>화면 잠금</div>
                <div id="toggleLock">
                    <label><input type="checkbox" class="ios-switch tinyswitch" /><div><div></div></div></label>
                </div>
            </div>
        </div>
        <div class="devices contentHeight" data-margin="-50">
        </div>
    </div>
</body>
</html>
