﻿@Scripts.Render("/Scripts/Fantafo/Desk/UpdatePage.js")
@Scripts.Render("/Scripts/Fantafo/Desk/Desk.Device.js")
@Styles.Render("/Content/Desk.css")
@Styles.Render("/Content/wf_loading.css")
@{
    ViewBag.Title = "Apps 업데이트";
}

<!DOCTYPE html>
<html>
<head>
    <!--DateTable Editor-->
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/editor.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/dataTables.editor.min.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>
    <script src="~/Scripts/dataTables.checkboxes.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/dataTables.editor.min.js"></script>

    <style>
        /** Top Bar**/
        .toolbar {
            background: white;
            box-shadow: 0 0 10px 0 #BBB;
            padding: 10px;
        }

        .btn-default input[type="file"] { /* 파일 필드 숨기기 */
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }

        .btn-default label {
            display: inline;
            margin-bottom: 5px;
            font-weight: normal;
        }

        td.details-control {
            background: url('../../Content/Images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../Content/Images/details_close.png') no-repeat center center;
        }
    </style>

</head>
<body>
    <div id="toolbar">
        <a class="btn btn-default" style="background-color:#62d4f6" href="/Desk/index">VR 수업</a>
        <a class="btn btn-default" href="/Lms">학생 정보</a>
        <a class="btn btn-default" href="/Lms/Completion">이용 정보</a>
        <!--<a href="/Lms/Stats">이용 통계</a>-->
        <div span style="float:right">
            <a href="JAVASCRIPT:AjaxCall('/api/Agent/ToggleAgents')">에이전트 On/Off</a>
        </div>
    </div>
    <div>
        <div style="width:70%; padding: 1% ;margin-bottom: 20px;">
            <table id="updateTable" class="display" style="width:100%; margin-bottom: 20px;">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>기간</th>
                        <th>크기</th>
                        <th>설치</th>
                        <th>삭제</th>
                    </tr>
                </thead>
            </table>
            @*<form id="updateFile" action="/api/FileUpdate/UploadFile" method="POST" enctype="multipart/form-data" style="text-align:center; padding:2%">
            <input type="file" name="file" multiple accept=".mp4, .apk"/>
            <input type="submit" name="upload" value="업로드" />
        </form>*@
            <div id="updateDevices" style="width:100%; margin-bottom: 20px;">
                <input type="button" class="head" value="파일 갱신" onclick="JAVASCRIPT:GetUpdateFileList()" />
                <input type="button" class="head" value="기기 갱신" onclick="JAVASCRIPT:dpTableReload()" />
                <input type="button" class="head" value="모두 선택" onclick="JAVASCRIPT:SelectAllDevice(true)" />
                <input type="button" class="head" value="모두 해제" onclick="JAVASCRIPT:SelectAllDevice(false)" />
                @*<input type="button" class="head" value="공간 확인" onclick="JAVASCRIPT:CheckStorageDevice()" />*@
                <input type="button" class="head" value="업데이트 시작" onclick="JAVASCRIPT:StartUpdate()" />
                <input type="button" class="head" value="test button" onclick="JAVASCRIPT:Test()" />
                @*<div class="devices contentHeight" data-margin="-50">*@
            </div>

            <table id="downloadProgressTable" class="display" style="width:100%; margin-bottom: 20px;">
                <thead>
                    <tr>
                        <th> SN</th>
                        <th>선택</th>
                        <th>기기명</th>
                        <th>전체 진행도</th>
                        <th>세부정보</th>
                        <th>상태</th>
                        <th>사용 가능 공간</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
        <div id="deviceWindow" class="contentWrapper contentWindow">
            <div class="devices contentHeight" data-margin="-50">
            </div>
        </div>
    
</body>
</html>
