﻿@Scripts.Render("/Scripts/jquery.dataTables.min.js")
@Scripts.Render("/Scripts/dataTables.buttons.min.js")
@Scripts.Render("/Scripts/dataTables.editor.min.js")
@Scripts.Render("/Scripts/dataTables.select.min.js")
@Scripts.Render("/Scripts/dataTables.checkboxes.min.js")
@Scripts.Render("/Scripts/buttons.print.min.js")
@Scripts.Render("/Scripts/dataTables.rowReorder.min.js")
@Scripts.Render("/Scripts/dataTables.responsive.min.js")
@Scripts.Render("/Scripts/dataTables.editor.min.js")
@Scripts.Render("/Scripts/natural.js")

@Styles.Render("/Content/selectBox.css")
@Styles.Render("/Content/jquery.dataTables.css")
@Styles.Render("/Content/select.dataTables.min.css")
@Styles.Render("/Content/dataTables.checkboxes.css")
@Styles.Render("/Content/buttons.dataTables.min.css")
@Styles.Render("/Content/editor.dataTables.min.css")
@Styles.Render("/Content/rowReorder.dataTables.min.css")
@Styles.Render("/Content/responsive.dataTables.min.css")

@Scripts.Render("/Scripts/Fantafo/Desk/UpdateDevice.js")
@Scripts.Render("/Scripts/sweetalert-2.1.2.js")
@Styles.Render("/Content/Desk.css")

@{
    ViewBag.Title = "UpdateDevice";
}
<!DOCTYPE html>
<html>
<head>
    <!--DateTable Editor-->

    <style>
        .dataTables_wrapper .dt-button {
            background: #FFFFFF;
            border: 2px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 5px;
        }

        .deviceTable_wrapper .dt-buttons:hover {
            border: 0px;
        }

        .dataTables_wrapper .dt-button:hover {
            /*background: rgba(221, 221, 221, 0.4);*/
        }

        div.dt-buttons {
            position: relative;
            float: right;
            margin: 1%;
            color: #6C6C6C;
        }

        .dataTables_wrapper .dataTables_paginate {
            text-align: center;
            float: none;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background: none;
                border: none;
                color: rgba(98, 142, 255, 0.7) !important;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:active {
                background: none;
                border: none;
                color: rgba(98, 142, 255, 0.7) !important;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current,
            .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: none;
                border: none;
                color: rgba(98, 142, 255, 0.7) !important;
            }
        td {
            word-break: break-word;
        }
    </style>

</head>
<body>
    <div id="toolbar">
        <a class="button" href="/Desk/index">VR 수업</a>
        <a class="button" href="/Desk/UpdateFile">업데이트 항목</a>
        <a class="button select" href="/Desk/UpdateDevice">업데이트 기기</a>
    </div>

    <div style="width:95%; top:63px; margin:0 auto; ">
        <table id="deviceTable" class="display" style="width:100%; border-style: none;">
            <thead>
                <tr style="border-style: none;">
                    <th> SN</th>
                    <th>
                        <div class="checks">
                            <input type="checkbox" name="select_all" value="True" id="updateDevice-select-all">
                            <label for="updateDevice-select-all"></label>
                        </div>
                    </th>
                    <th>에이전트명</th>
                    <th>업데이트 진행 상황</th>
                    <th>업데이트 상태</th>
                    <th>사용 가능 공간</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

