﻿@Scripts.Render("/Scripts/jquery.dataTables.min.js")
@Scripts.Render("/Scripts/dataTables.buttons.min.js")
@Scripts.Render("/Scripts/dataTables.editor.min.js")
@Scripts.Render("/Scripts/dataTables.select.min.js")
@Scripts.Render("/Scripts/dataTables.checkboxes.min.js")
@Scripts.Render("/Scripts/buttons.print.min.js")
@Scripts.Render("/Scripts/dataTables.rowReorder.min.js")
@Scripts.Render("/Scripts/dataTables.responsive.min.js")
@Scripts.Render("/Scripts/dataTables.editor.min.js")
@Scripts.Render("/Scripts/natural.js")
@Scripts.Render("/Scripts/Fantafo/Desk/Categorys.js")
@Scripts.Render("/Scripts/Fantafo/Desk/UpdateFile.js")
@Scripts.Render("/Scripts/sweetalert-2.1.2.js")
@Styles.Render("/Content/Desk.css")
@Styles.Render("/Content/selectBox.css")
@Styles.Render("/Content/jquery.dataTables.css")
@Styles.Render("/Content/select.dataTables.min.css")
@Styles.Render("/Content/dataTables.checkboxes.css")
@Styles.Render("/Content/buttons.dataTables.min.css")
@Styles.Render("/Content/editor.dataTables.min.css")
@Styles.Render("/Content/rowReorder.dataTables.min.css")
@Styles.Render("/Content/responsive.dataTables.min.css")
@{
    ViewBag.Title = "UpdateFile";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        td.details-control {
            background: url('../../Content/Images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../Content/Images/details_close.png') no-repeat center center;
        }

        .dataTables_wrapper .dataTables_length {
            margin-top: 20px;
        }

        td.delete-icon {
            background: url('../../Content/Images/delete_icon.png') no-repeat center center;
        }
        
        #fileTable_filter label input[name="search"] {
            background: url('../../Content/Images/delete_icon.png');
            background-repeat: no-repeat;
            background-position: 0px 3px !important;
        }
        /*데이터 테이블 수정*/
        /*th {
            border-collapse: collapse;
            padding: 1em;
            background: rgba(118, 155, 226, 0.56);
            color: #ffffff;
        }


        table.dataTable thead th {
            border: none;
        }

        tr {
            border: none;
        }*/
        /*
        table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
            background-color: #ffffff;
        }

        table.dataTable tbody tr {
            background-color: rgba(190, 209, 237, 0.25);
        }*/
        /*#fileTable_filter .form-control {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" id="spyglass" viewBox="0 0 22 22" height="22" width="22"><path d="m 10.011718,5.0898489 c -2.7000005,0 -4.9003915,2.2004 -4.9003915,4.9003996 0,2.6999995 2.200391,4.8983995 4.9003915,4.8983995 1.154374,0 2.204251,-0.4184 3.042969,-1.0898 l 3.207031,3.1113 0.626953,-0.6465 -3.185547,-3.0879 c 0.743242,-0.8594 1.208984,-1.964 1.208984,-3.1854995 0,-2.6999996 -2.20039,-4.9003996 -4.90039,-4.9003996 z m 0,1 c 2.2,0 3.90039,1.7004 3.90039,3.9003996 0,2.1999995 -1.70039,3.8983995 -3.90039,3.8983995 -2.2000005,0 -3.9003915,-1.6984 -3.9003915,-3.8983995 0,-2.1999996 1.700391,-3.9003996 3.9003915,-3.9003996 z" style="fill:#808080"/></svg>');
            background-repeat: no-repeat;
            background-color: #fff;
            background-position: 0px 3px !important;
        }*/
        /*#fileTable_filter input {
            background: url('../../Content/Images/delete_icon.png');
            background-repeat: no-repeat;
            background-position: 0px 3px !important;
        }*/
        .dataTables_wrapper .dataTables_filter {
            margin-left: 0.5em;
            margin-top: 20px;
            margin-bottom: 20px;
        }


        .dataTables_wrapper .dataTables_paginate {
            text-align: center;
            float: none;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background: none;
                border: none;
                color: rgba(98, 142, 255, 0.7) !important;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:active {
                background: none;
                border: none;
                color: rgba(98, 142, 255, 0.7) !important;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current,
            .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: none;
                border: none;
                color: rgba(98, 142, 255, 0.7) !important;
            }
        td {
            word-break: break-word;
        }
    </style>

</head>
<body>
    <div id="toolbar">
        <a class="button" href="/Desk/index">VR 수업</a>
        <a class="button select" href="/Desk/UpdateFile">업데이트 항목</a>
        <a class="button" href="/Desk/UpdateDevice">업데이트 기기</a>
    </div>

    <div style="width:95%; top:63px; margin:0 auto;">
        <table id="fileTable" class="display;" style="width:100%; border-style: none;">
            <thead>
                <tr style="border-style: none;">
                    <th>
                        <div class="checks">
                            <input type="checkbox" name="select_all" value="True" id="updateFile-select-all">
                            <label for="updateFile-select-all"></label>
                        </div>
                    </th>
                    <th>파일명</th>
                    <th>업로드 날짜</th>
                    <th>파일 크기</th>
                    <th>카테고리</th>
                    <th>삭제</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

