﻿<style type="text/css">
    #floater {
        float: left;
        height: 50%;
        margin-bottom: -120px;
    }

    #content {
        clear: both;
        height: 280px;
        position: relative;
    }
</style>

<div class="index">
    <div class="logo">
        <img src="@Url.Content("~/Content/Images/Logo/1200x256GesungChoLogo.png")" />
    </div>

    <div class="pagelink">
        <a href="/Desk/Index" class="signin button">VR 체험교육</a>
    </div>
</div>