﻿@Scripts.Render("/Scripts/Fantafo/Login.js")

<div class="actionBar">
    <a class="actionBtn" href="/">@ViewBag.Title</a>
</div>
<form id="login" action="/Home/ProcLogin" method="post">
    <div class="login inputlist contentWrapper">
        <div class="contentBox">
            <div class="line underline">
                <label>아이디</label>
                <div class="InputLine">
                    <input name="id" type="id" placeholder="이메일 또는 휴대폰" class="contentWidth" value="@ViewBag.Id" data-margin="-90" data-selectfirst="@(ViewBag.Id.Length==0?1:0)"/>
                </div>
            </div>
            <div class="line underline">
                <label>비밀번호</label>
                <div class="InputLine">
                    <input name="password" type="password" class="contentWidth" data-margin="-90" data-selectfirst="@(ViewBag.Id.Length==0?0:1)"/>
                </div>
            </div>

            <div class="line underline last center">
                <input type="submit" value="로그인" />
            </div>

            <div id="ErrorMsg" style="display:none"></div>
        </div>
    </div>
</form>
<script type="text/javascript">
    var msg = "@ViewBag.Msg";
    if (msg) alert(msg);
</script>